:root {
  --body-background-color: #222;
  --body-font-family: 'Work Sans', sans-serif;
  --body-font-weight: 400;
  --header-bg: #55d6aa;
  --navlinks-color: #444;
  --navlinks-transform: uppercase;
  --navlinks-font-size: 14px;
  --navlinks-hover-color: #000;
}

.logo {
  width: 150px;
}

/* General */

body {
  margin: 0;
  background: var(--body-background-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */

header {
  background: var(--header-bg);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: var(--navlinks-color);
  text-decoration: none;
  text-transform: var(--navlinks-transform);
  font-size: var(--navlinks-font-size);
}

nav a:hover {
  color: var(--navlinks-hover-color);
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--navlinks-color);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

@media (max-width: 1024px) {
  .logo {
    width: 90px;
  }

  nav li {
    padding-top: 18px;
    margin-left: 30px;
  }
}

@media (max-width: 640px) {
  .logo {
    width: 100%;
  }

  nav {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }

  nav li {
    display: block;
    width: 100%;
    margin: 2px auto;
    padding-top: 5px;
  }

  nav a {
    font-size: 22px;
  }

  nav a:hover::before {
    width: 0%;
  }
}

/* END */
